body {
    height: 100vh;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#princ {
    height: 500px;
    width: 500px;
    background-color:  white;
    text-align: center;
    padding: 10px;
}

#num {
    width: 204px;
}

#tentar {
    padding-top: 30px;
}

span {
    color: blue;
}

@media(max-width: 480px) {
    body {
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #princ {
        height: 95%;
        width: 90%;
    }

    h1 {
        padding: 10px;
    }

    input, button {
        margin-top: 10px;
    }
}